/* Common CSS */
.link {
	font: normal 11px Arial;
	color: rgb(97, 146, 228);
	text-decoration: underline;
	cursor: pointer;
}

.readonly {
	background-color: rgb(238, 238, 238);
}

.msg {
	background-color: #ffffff;
	border: 1px solid rgb(255, 255, 255);
	padding-left: 2px;
	width: 90%;
}

.download {
	text-decoration: underline;
	cursor: pointer;
}

.nobr {
	text-overflow: ellipsis;
	overflow: hidden;
}

.checkbox {
	width: 25px;
	text-align: center;
}

.filter-title {
	font-size: 11px;
	color: #0078ae;
	font-weight: bold;
}

input.default, select.default {
	width: 85%;
}

.align-left { text-align: left; }
.align-center { text-align: center; }
.align-right { text-align: right; }

.div-icon {
	float: left;
}

.div-title { 
	float: left;
	color: #0078ae;
	font-weight: bold;
}

#loading {
	width: 100%;
	height: 100%;
	background: transparent url('/todayweb/images/loading.gif') no-repeat;
	background-position: 50% 40%;
	position: absolute;
	display: none;
	z-index: 9999;
}

.button-group {
	font-size: 10px;
}

/* Body CSS */
body {
	font-family: Lucida Grande, Lucida Sans, Arial, sans-serif;
	font-size: 11px;
}

/* Table CSS */
table.fixed {
	table-layout: fixed;
}

table.table-common-list {
	width: 100%;
}

table.table-common-list th { 
	border: 1px solid #2e6e9e;
	background-color: #7cb4de;
	font-weight: bold;
	font-size: 12px;
	color: #ffffff;
}

table.dialog-table-common-list {
	width: 95%;
}

table.dialog-table-common-list th { 
	border: 1px solid #2e6e9e;
	background-color: #7cb4de;
	font-weight: bold;
	font-size: 12px;
	width: 120px;
	color: #ffffff;
}

table.table-common {
	width: 100%;
}

table.table-common th { 
	border: 1px solid #2e6e9e;
	background-color: #7cb4de;
	font-weight: bold;
	font-size: 12px;
	color: #ffffff;
}

table.dialog-table-common {
	width: 95%;
}

table.dialog-table-common th { 
	border: 1px solid #2e6e9e;
	background-color: #7cb4de;
	font-weight: bold;
	font-size: 12px;
	width: 120px;
	color: #ffffff;
}

/* Top Menu Table CSS */
table.top-menu-table {
	width: 100%;
}

table.top-menu-table td.left-menu {
	width: *%;
	text-align: left;
}

table.top-menu-table td.rigth-menu {
	width: *%;
	text-align: right;
}

/* Attachment Table CSS */
table.attach-table {
	width: 100%;
}

table.attach-table th {
	border: 1px solid #2e6e9e;
	background-color: #7cb4de;
	font-weight: bold;
	font-size: 12px;
	color: #ffffff;
}

table.attach-table th.button, td.button {
	width: 25px;
}

table.attach-table td {
	border: 1px solid #AECDFF;
	background-color: #FFFFFF;
	color: #000000;
}

/* Page CSS */
table.page-table {
	width: 100%;
	text-align: center;
}

table.page-table td.total {
	width: 50%;
	text-align: right;
}

table.page-table td.page {
	width: 50%;
	text-align: left;
}

a.page {
	font-size: 11px;
	color: rgb(97, 146, 228);
	cursor: pointer;
}

span.page {
	font-size: 12px;
	color: rgb(255, 0, 0);
	font-weight: bold;
}